<% content_for :title, "Quests - Edit quest" %>

<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Edit Quest</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 ml-auto mr-auto breadcrumb-wrapper">
        <div class="breadcrumb-container">
          <%= link_to 'Back', quest_path(@quest) %>
        </div>
        <div class="box">
          <%= render 'form', quest: @quest %>
        </div>
      </div>
    </div>
  </div>
</div>
