<% content_for :title, "Quests - Discover" %>
<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Discover</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">OPEN QUESTS</h2>
        <a href="<%= new_quest_path %>" class="btn btn-primary m-t-30">Create your quest</a>
      </div>
      <%= render "shared/ornaments/bg-small" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <% @open_quests.each do |quest| %>
          <a href="<%= quest_path(quest) %>" class="box box-item box-dark linked align-items-start justify-content-between">
            <div class="box-body">
              <h4><%= quest.title %></h4>
              <span style="opacity: .5;">Created by: <%= quest.creator.username %></span>
            </div>
            <div class="box-footer">
              <% if quest.balance.nil? %>
              <span class="box-counter">
                <%= image_tag "icons/iota.svg" %>
                <span>0 IOTA</span>
              </span>
              <% else %>
              <span><%= quest.balance %></span>
              <span class="box-counter">
                <%= image_tag "icons/iota.svg" %>
                <span><%= quest.balance %></span>
              </span>
              <% end %>
              <% if quest.solutions.count == 0 %>
              <span class="box-counter">
                <%= image_tag "icons/solution.svg" %>
                <span>0 Solution</span>
              </span>
              <% else %>
              <span class="box-counter">
                <%= image_tag "icons/solution.svg" %>
                <span><%= quest.solutions.count %></span>
              </span>
              <% end %>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section content justify-content-start decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">CLOSED QUESTS</h2>
        <a href="mailto: quests@worldofmind.org?subject=Request for beta testing&body=Tell us something about you and why you would like to help us testing!" class="btn btn-primary m-t-30">Create your quest</a>
      </div>
      <%= render "shared/ornaments/bg-small" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <% @open_quests.each do |quest| %>
          <a href="<%= quest_path(quest) %>" class="box box-item linked align-items-start justify-content-between">
            <div class="box-body">
              <h4><%= quest.title %></h4>
              <span style="opacity: .5;">Created by: <%= quest.creator.username %></span>
            </div>
            <div class="box-footer">
              <% if quest.balance.nil? %>
              <span class="box-counter">
                <%= image_tag "icons/iota-dark.svg" %>
                <span>0 IOTA</span>
              </span>
              <% else %>
              <span><%= quest.balance %></span>
              <span class="box-counter">
                <%= image_tag "icons/iota-dark.svg" %>
                <span><%= quest.balance %></span>
              </span>
              <% end %>
              <% if quest.solutions.count == 0 %>
              <span class="box-counter">
                <%= image_tag "icons/solution-dark.svg" %>
                <span>0 Solution</span>
              </span>
              <% else %>
              <span class="box-counter">
                <%= image_tag "icons/solution-dark.svg" %>
                <span><%= quest.solutions.count %></span>
              </span>
              <% end %>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
