<% content_for :title, "Quests -  #{ @quest.title}" %>
<% if @quest.solved? %>
  <div class="alert alert-warning" role="alert">
    <strong>Closed!</strong> This quest is solved!
  </div>
<% elsif @quest.payout_proccessed? %>
<div class="alert alert-warning" role="alert">
  <strong>Closed!</strong> This payout is processig!
</div>
<% end %>
<div class="section page-title bg-primary p-t-25 p-b-100" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center"><%= @quest.title %></h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start pull-top">
  <div class="container">
    <div class="row">
      <div class="col-lg ml-auto mr-auto breadcrumb-wrapper">
        <div class="breadcrumb-container breadcrumb-container__pull-top">
          <%= link_to root_path do %>Back to Home<% end %>
        </div>
        <div class="box m-b-30">
          <% if current_user&.id == @quest.creator_id %>
          <div class="box-menu top-right">
            <%= link_to edit_quest_path(@quest), id:'edit-btn', class: 'btn btn-primary btn-icon', data: {toggle: 'tooltip', placement: 'bottom'}, title: "Edit your quest" do %>
              <%= image_tag "icons/edit.svg" %>
            <% end %>
          </div>
          <% end %>
          <div class="box-body">
            <div id="countdown" class="box-countdown mr-auto ml-auto" >
              <h5 class="m-b-0" style="">Created by <%= @quest.creator.username %>, <%= time_ago_in_words @quest.created_at %> ago</h5>
              <hr>
            </div>

            <div class="react-balance">
              <%= react_component("Balance", { address: @quest.latest_address }) if @quest.active? %>
              <div class="balance-footer">
                <% if @quest.active? %>
                  <div class="buttonCopyAddressk" data-toggle="tooltip" data-placement="bottom" title="<%= @quest.latest_address %>"  data-address="<%= @quest.latest_address %>">
                    <%= @quest.latest_address.truncate(9, omission: "...#{@quest.latest_address.last(3)}") %>
                  </div>
                  <button type="button" class="btn btn-dark buttonCopyAddressk" style="margin-bottom: 10px;" data-address="<%= @quest.latest_address %>">Copy address</button>
                <% elsif @quest.payout_proccessed? %>
                <p>Payout is done soon...</p>
                <% else %>
                <p>Payed out <%= time_ago_in_words @quest.payed_at  %> ago to  <%= link_to "solution", quest_path(@quest, anchor: "solution-#{@quest.solutions.find_index(@quest.solution) + 1}") %></p>
                <% end %>
                <%= link_to "Check on TheTangle.org", "https://thetangle.org/address/#{@quest.latest_address}", target: '_blank' %>
              </div>

              <div class="react-donatorsList">
                <%= react_component("DonatorsList", { address: @quest.latest_address }) if @quest.active? %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mr-auto ml-auto">
        <h2 class="m-b-30">Suggested solutions</h2>
        <%= render 'solutions/solution_fields', solution: @solution, quest: @quest if @quest.active? || @quest.payout_proccessed? %>
        <% @quest.solutions.each_with_index do |solution, index| %>
          <div id="solution-<%= index + 1 %>" class="box m-b-30 <%= "text-white box-success" if  @quest.solved? && solution == @quest.solution %>">
            <div class="box-title">
              <span>Solution #<%= index + 1 %></span>
            </div>
            <div class="options-wrapper options-wrapper__small">
              <% if @quest.active? && current_user == @quest.creator %>
                <%= button_to "Payout", quest_solution_payout_path(@quest, solution), class: 'btn btn-primary btn-sm' %>
              <% end %>
              <button type="button" class="btn btn-dark btn-sm buttoncopySolutionLink" style="margin-left: 15px;">Copy Solution Link</button>
            </div>
            <% unless solution.text.nil? %>
            <div><%=sanitize solution.text %></div>
            <% end %>
            <p style="opacity: .5; margin-bottom: 0;">Posted by <%= solution.creator ? solution.creator.username : 'anonymous' %>, <%= time_ago_in_words solution.created_at if solution.created_at %> ago</p>
            <% if @quest.active? && current_user == @quest.solver %>
            <% elsif solution == @quest.solved? && !@quest.payout_proccessed? %>
              <p>Payed out <%= @quest.payed_amount ? @quest.payed_amount : "unknown" %> IOTA <%= time_ago_in_words @quest.payed_at  %> ago.</p>
              <a href="https://thetangle.org/address/<%= @quest.solution.address %>" target="_blank">Watch payment on TheTangle.org</a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
