<% content_for :title, "Quests - Resend confirmation instructions" %>

<div class="section content bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="title text-center">Resend confirmation instructions</h1>
      </div>
    </div>
  </div>
  <div class="container m-t-0">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-lg btn-block' %>
          </div>
          <% end %>
          <hr>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>
