<% content_for :title, "Quests - Notifications" %>

<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Notifications</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>
<div class="section content justify-content-start">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto breadcrumb-wrapper">
        <div class="breadcrumb-container">
          <%= link_to root_path do %>Back to home<% end %>
        </div>
        <% if @notifications.count == 0 %>
        <div class="box box-center">
          <div class="box-body">
            <%= image_tag("icons/monkey.svg", style: 'width: 100px;', class: 'm-b-20') %>
            <h4 class="text-center m-b-20">Sorry, we could not find any notifications for you.</h4>
          </div>
        </div>
        <% else %>
        <ul>
          <% @notifications.each do |notification| %>
            <li class="box"><%= render "notifications/#{notification.notifiable_type.underscore}/#{notification.action.underscore}", actor: notification.actor, notifiable: notification.notifiable  %></li>
          <% end %>
        </ul>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
