<% content_for :title, "Quests - Change your password" %>

<div class="section content bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="title text-center">Change your password</h1>
      </div>
    </div>
  </div>
  <div class="container m-t-0">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
            <% if @minimum_password_length %>
            <p class="text-muted"><small><%= @minimum_password_length %> characters minimum</small></p>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm Password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: 'btn btn-primary btn-block btn-lg' %>
          </div>
          <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>
