<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md footer-top ">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag("logo.svg") %>
        </a>
        <ul class="footer-nav">
          <li class="nav-item <%= "active" if request.path == '/get_started' %>"><%= link_to "Get Started", get_started_path, class: 'nav-link' %></li>
          <!-- <li class="nav-item <#%= "active" if request.path == '/creators' %>""><%= link_to "Creators", creators_path, class: "nav-link" %></li> -->
          <li class="nav-item <%= "active" if request.path == '/roadmap' %>""><%= link_to "Roadmap", roadmap_path, class: "nav-link" %></li>
          <li class="nav-item <%= "active" if request.path == '/quests' %>""><%= link_to "Discover", quests_path, class: "nav-link" %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="footer-divider m-t-50 m-b-50">
          <hr>
          <span>© 2018 World of Mind</span>
          <div class="caret-down" id="caret-top">
            <%= image_tag "icons/caret.svg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md footer-bottom">
        <span>Have a nice <%= Time.now.strftime("%A") %>!</span>
        <span>Made with <%= image_tag "icons/heart.svg" %> and <a href="https://www.iota.org" target="_blank"><%= image_tag "icons/iota.svg" %></a> by <a href="https://ecosystem.iota.org/users/huhn" target="_blank">huhn</a> and <a href="https://ecosystem.iota.org/users/rep0x" target="_blank">r3p0x</a> </span>
        <div class="footer-links">
          <%= link_to "Privacy Policy", privacy_path %> •
          <a href="mailto: quests@worldofmind.org?subject=Contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  $(document).ready(function (){
      $("#caret-top").click(function (){
          $('html, body').animate({
              scrollTop: $("#hero").offset().top
          }, 600);
      });
  });
</script>
