<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg">
  <div class="meta-nav">
    <ul>
      <li><a href="https://events.worldofmind.org">Events</a></li>
      <li><a href="https://quests.worldofmind.org">Quests</a></li>
      <li style="padding: 2px 10px"><span style="color: white; font-size: 10px; font-weight: bold; opacity: .25; text-transform: uppercase; letter-spacing: 1px;">More services coming soon</span></li>
    </ul>
  </div>
  <a class="navbar-brand <%= "active" if request.path == '/' %>" href="<%= root_path %>">
    <%= image_tag("logo.svg") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-wrapper">
      <span class="line line__top"></span>
      <span class="line line__center"></span>
      <span class="line line__bottom"></span>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= "active" if request.path == '/get_started' %>"><%= link_to "Get started", get_started_path, class: "nav-link" %></li>
      <!-- <li class="nav-item <#%= "active" if request.path == '/creators' %>""><%= link_to "Creators", creators_path, class: "nav-link" %></li> -->
      <li class="nav-item <%= "active" if request.path == '/roadmap' %>""><%= link_to "Roadmap", roadmap_path, class: "nav-link" %></li>
      <li class="nav-item <%= "active" if request.path == '/quests' %>"><%= link_to "Discover", quests_path, class: "nav-link notifications" %></li>
      <% if user_signed_in? %>
      <!-- <li class="nav-item icon <#%= "active" if request.path == '/notifications' %>">
        <#%= link_to notifications_path, class: "nav-link notifications", data: {toggle: 'tooltip', placement: 'bottom'}, title: "Notifications" do %>
          <#%= image_tag "icons/notification.svg", class: 'm-r-0' %>
        <#% end %>
      </li> -->

      <li class="nav-item icon dropdown <%= "active" if request.path_info.include?('quests') %>">
        <%= link_to quests_path, id: "navbar-dropdown", class: "nav-link dropdown-toggle quests", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
          <%= image_tag "icons/star.svg" %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbar-dropdown">
          <%= link_to "Create a new quest", new_quest_path, class: "dropdown-item" %>
          <% if current_user %>
            <% current_user.created_quests.each do |quest| %>
            <div class="dropdown-divider"></div>
              <%= link_to "#{quest.title}", quest_path(quest), class: "dropdown-item" if quest.id %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item icon dropdown <%= "active" if request.path_info.include?('users') %>">
        <%= link_to root_path, id: "navbar-dropdown", class: "nav-link dropdown-toggle account", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
          <%= image_tag gravatar_image_url(current_user.email, size: 40), height: 30, width: 30, class: "rounded" %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbar-dropdown">
          <% if current_user.admin? %>
            <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
          <% end %>
          <%= link_to "Projects", projects_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

      <% else %>
        <li class="nav-item button"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary", style: "color: #fff" %></li>
        <li class="nav-item button"><%= link_to "Log in", new_user_session_path, class: "btn btn-primary", style: "color: #fff" %></li>
      <% end %>
    </ul>
  </div>
</nav>
