<div class="particles">

</div>

<div class="animation-wrapper">
  <div class="animation-container">
    <div class="circle-wrapper">
      <%= image_tag "hero/circle/circle-path_1.svg", class:"circle-outline size-sm" %>
      <%= image_tag "hero/circle/circle-path_2.svg", class:"circle-outline transparent-20 size-md" %>
      <%= image_tag "hero/circle/circle-path_3.svg", class:"circle-outline transparent-20 size-lg" %>
      <%= image_tag "hero/circle/circle-path_4.svg", class:"circle-outline size-sm" %>
      <%= image_tag "hero/circle/circle-path_5.svg", class:"circle-outline size-md" %>
      <%= image_tag "hero/circle/circle-path_6.svg", class:"circle-outline transparent-20 size-lg" %>
      <%= image_tag "hero/circle/circle-path_7.svg", class:"circle-outline transparent-20 size-sm" %>
      <%= image_tag "hero/circle/circle-path_8.svg", class:"circle-outline size-md" %>
      <%= image_tag "hero/circle/circle-path_9.svg", class:"circle-outline size-lg" %>
      <%= image_tag "hero/circle/circle-path_10.svg", class:"circle-outline transparent-20 size-sm" %>
      <%= image_tag "hero/circle/circle-path_11.svg", class:"circle-outline transparent-20 size-md" %>
      <%= image_tag "hero/circle/circle-path_12.svg", class:"circle-outline size-lg" %>
      <%= image_tag "hero/circle/circle-path_13.svg", class:"circle-outline size-sm" %>
      <%= image_tag "hero/circle/circle-path_14.svg", class:"circle-outline transparent-20 size-md" %>
      <%= image_tag "hero/circle/circle-path_15.svg", class:"circle-outline transparent-20 size-lg" %>
      <%= image_tag "hero/circle/circle-path_16.svg", class:"circle-outline size-sm" %>
      <%= image_tag "hero/circle-dots.svg", class:'circle-dots-1' %>
      <%= image_tag "hero/circle-dots.svg", class:'circle-dots-2' %>
      <div class="inner-circle">
        <div class="circled-quest">
          <div class="circled-quest-body">
            <% if quest&.id %>
            <h3><%= quest.creator&.username %></h3>
            <p><%= quest.title %></p>
            <div class="circled-quest-body__footer">
              <div class="footer-button">
                <%= image_tag "icons/solution.svg" %>
                <span><%= quest.solutions.count %></span>
              </div>
            </div>
            <%= link_to quest_path(quest), class: 'play-btn' do %>
              <span>Play now</span>
            <% end %>
          <% else %>
          <!-- <#%= image_tag 'logo_white.svg', style: 'opacity: 1; width: 200px;' %> -->
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="portal-wrapper">
      <%= image_tag "hero/portal2.svg" %>
      <div class="circle-lines-wrapper">
        <%= image_tag "hero/circle-lines-final.svg", class: 'circle-lines', style: 'opacity: .5;' %>
      </div>
      <div class="iota-logo-wrapper">
        <%= image_tag "icons/iota.svg", class: 'iota-logo' %>
      </div>
    </div>
  </div>
</div>
