<% content_for :title, "Quests - Creators" %>

<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Creators</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-white">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-30">
      <div class="col-md-6 ml-auto mr-auto">
        <h2 class="text-center">Who we are</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <div class="box box-item">
            <%= image_tag "creators/huhn.png", class: 'mr-auto ml-auto' %>
            <h3 class="text-center">Sebastian</h3>
            <h6 class="text-center m-b-20" style="opacity: .5;">Development</h6>
            <p class="text-center">Sebastian (aka <a href="https://ecosystem.iota.org/users/huhn">huhn</a>) is developing the platform and takes care of both the backend and the communication with the tangle.</p>
          </div>
          <div class="box box-item">
            <%= image_tag "creators/r3p0x.png", class: 'mr-auto ml-auto' %>
            <h3 class="text-center">Sven</h3>
            <h6 class="text-center m-b-20" style="opacity: .5;">Design</h6>
            <p class="text-center">Sven (aka <a href="https://ecosystem.iota.org/users/rep0x">r3p0x</a>) is a passionate designer and frontend developer, focussing on graphic, UI / UX design.</p>
          </div>
        </div>
        <div class="d-flex justify-content-center m-t-30">
          <a href="mailto: quests@worldofmind.org?subject=Request to join the team&body=Tell us something about you and your background. Don't forget to let us know why you would like to join the team!" class="btn btn-primary">Become a creator</a>
        </div>
      </div>
    </div>
  </div>
</div>
