<% content_for :title, "Quests - Get started" %>

<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="m-b-20">Get started</h1>
        <a href="mailto: quests@worldofmind.org?subject=I have a question" class="btn btn-dark">Ask us a question</a>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-30 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">SOLUTION</h2>
        <h3 class="text-center">How to solve a quest?</h3>
        <%= render "shared/ornaments/divider" %>
        <ol>
          <li>Find a quest which you can solve.</li>
          <li>Suggest a solution, add your IOTA address.</li>
          <li>If the quest creator accepts your solution, you will get the donations.</li>
        </ol>
        <a href="<%= quests_path %>" class="btn btn-primary m-t-30">Discover quests</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
  </div>
</div>

<div class="section content justify-content-start decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-30 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">CREATION</h2>
        <h3 class="text-center">How to create a quest?</h3>
        <%= render "shared/ornaments/divider" %>
        <ol>
          <li><%= link_to "Sign In", new_user_session_path %>, or <%= link_to "create an account", new_user_registration_path %>.</li>
          <li>Go to <%= link_to "create a quest", new_quest_url %> - Set a quest title and describe your quest then create it.</li>
          <li>Send some IOTA's to the quest address.</li>
          <li>Share the quest link with your people and wait for some solutions.</li>
          <li>Payout the solution, which you want to pay.</li>
        </ol>
        <p>The winner takes it all ... but just for the beginning! The IOTA's will be distributed in the future.</p>
        <a href="<%= new_quest_path %>" class="btn btn-primary m-t-30">Create your quest</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
  </div>
</div>
