<% content_for :title, "Quests - Home" %>

<div class="section section--hero hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="title m-t-0">Quest Playground</h1>
        <h2>Stop working. Start playing.</h2>
        <p>Quests is the worlds first platform where you can earn IOTA for solving issues or incentivize issues to get them solved by others.</p>
        <ul class="link-list">
          <li><a href="/get_started" class="link-item">Get started</a></li>
          <li><%= link_to "New Quest", new_quest_path, class: "link-item" %></li>
        </ul>
        <div class="kpi-wrapper">
           <div class="kpi-box" data-id="tab-open-quests">
             <h2><%= @open_quest_count || 0 %></h2>
             <h6>Open Quests</h6>
           </div>
           <div class="kpi-box" data-id="tab-solved-quests">
             <h2><%= @solved_quest_count || 0 %></h2>
             <h6>Solved Quests</h6>
           </div>
         </div>
        <div class="caret-down m-t-30" id="caret-down">
          <%= image_tag "icons/caret.svg" %>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
  <%= render "home/hero_animation", quest: @hero_quest %>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1" id="what-we-do">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">FEATURES</h2>
        <h3 class="text-center">WHAT WE DO TO HELP YOU</h3>
        <%= render "shared/ornaments/divider" %>
        <p class="text-center">Quests is a platform to incentivize tasks, issues, user stories or however you and your team call things that needs to be done - either way we call them quests. A quest is a bounty to solve an issue. If you cannot solve a quest on your own or simply don't have the time to do so - just fund some IOTA tokens to it. We just hit the beta release but you already can create, incentivize and payout quests. Good luck and have fun!</p>
        <a href="<%= new_quest_path %>" class="btn btn-primary m-t-30">Create a quest</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/pin.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Quests</h3>
            <p class="text-center">Create a detailed quest description and define what it means to you to call it "done". Then simply fund some IOTA tokens to it and wait for the proper solution.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/solution.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Solutions</h3>
            <p class="text-center">Anybody can suggest solutions to quests anonymously or as an authenticated user. Either way your solution needs to have a valid IOTA address in order to get the bounty.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/wallet.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">IOTA Payouts</h3>
            <p class="text-center">The creator of a quest can payout the bounty to the very best solution. The winner takes it all, but for sure just for now.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function (){
    $("#caret-down").click(function (){
      $('html, body').animate({
        scrollTop: $("#what-we-do").offset().top
      }, 600);
    });
  });
</script>
