<% content_for :title, "Quests - Roadmap" %>

<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Roadmap</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">Doing</h2>
        <h3 class="text-center">WHAT WE ARE WORKING ON</h3>
        <%= render "shared/ornaments/divider" %>
        <p class="text-center">We are always working on something, but it means a lot to us to share with you what is currently in our mind. This is because of two reasons. One, we want to be a transparent organisation and two, we want to give you the opportunity to share your thoughts and those of you who want to help us testing the opportunity to become a beta tester.</p>
        <a href="mailto: quests@worldofmind.org?subject=Request for beta testing&body=Tell us something about you and why you would like to help us testing!" class="btn btn-primary m-t-30">Help us testing</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/network.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Distribution</h3>
            <p class="text-center">A mechanismn to distrubte IOTA to the collaborators will be added.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/reply.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Reply</h3>
            <p class="text-center">A feature to discuss a quest will be added.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section content justify-content-start decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">Todo</h2>
        <h3 class="text-center">WHAT COMES NEXT</h3>
        <%= render "shared/ornaments/divider" %>
        <p class="text-center">Besides the features we are currently working on, we also want to let you know what we plan to do next. Most importantly we want to encourage you to share your prorities as a user. If you think there is something missing or one of those features is really important to you - don't hesitate to let us know!</p>
        <a href="mailto: quests@worldofmind.org?subject=Suggestion for further development&body=Describe your suggestions detailed here." class="btn btn-primary m-t-30">Suggest your ideas</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <div class="box box-item">
            <%= image_tag "illustrations/discover.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Discover</h3>
            <p class="text-center">A page to discover and filter all quests will be added.</p>
          </div>
          <div class="box box-item">
            <%= image_tag "illustrations/search.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Search</h3>
            <p class="text-center">A feature to search for quests by search criteria will be added.</p>
          </div>
          <div class="box box-item">
            <%= image_tag "illustrations/game.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Gamification</h3>
            <p class="text-center">A feature to value contributions to quests with inventices will be added.</p>
          </div>
          <div class="box box-item">
            <%= image_tag "illustrations/alert.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Notifications</h3>
            <p class="text-center">A feature to notify users about new quests and updates will be added.</p>
          </div>
          <div class="box box-item">
            <%= image_tag "illustrations/user.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Profile</h3>
            <p class="text-center">A feature to show users infos and efforts to quests will be added.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">Done</h2>
        <h3 class="text-center">WHAT has been achieved already</h3>
        <%= render "shared/ornaments/divider" %>
        <p class="text-center">What does "done" mean? The definition of done is quite complex since no thing will ever be absolutely done. Still we define our definition of done for all the features we are working on and someday each of them needs to be delivered in order to give you guys value. But if you find a bug or have an idea to improve something, please drop us a line! </p>
        <a href="mailto: quests@worldofmind.org?subject=Bug report&body=Describe your bug here and don't forget to give us some infos about your device and browser." class="btn btn-primary m-t-30">Report a bug</a>
      </div>
      <%= render "shared/ornaments/bg-big" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/heart.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Branding</h3>
            <p class="text-center">The branding process including a corporate identity has been finished.</p>
          </div>
          <div class=" box box-item box-dark">
            <%= image_tag "illustrations/webpage.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Landing Page</h3>
            <p class="text-center">The landing page for the beta release has been finished.</p>
          </div>
          <div class=" box box-item box-dark">
            <%= image_tag "illustrations/shield.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Authentication</h3>
            <p class="text-center">Autheticate users including account settings has been finished.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/pin.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Quests</h3>
            <p class="text-center">The ability to manage quests with basic details has been finished.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/solution.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">Solutions</h3>
            <p class="text-center">The ability to add a solution to a quest has been finished.</p>
          </div>
          <div class="box box-item box-dark">
            <%= image_tag "illustrations/wallet.svg", class: 'circled-box-image mr-auto ml-auto' %>
            <h3 class="text-center">IOTA Payout</h3>
            <p class="text-center">The ability to payout one solution creator with IOTA tokens has been finished.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
