<% content_for :title, "Projects - Discover" %>
<div class="section page-title bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Discover</h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start bg-darker decoration-1">
  <div class="container m-t-100 m-b-100">
    <div class="row m-b-50 row-decoration">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto decorator d-flex flex-column align-items-center">
        <h2 class="text-center">Projects</h2>
        <a href="<%= new_project_path %>" class="btn btn-primary m-t-30">Create your project</a>
      </div>
      <%= render "shared/ornaments/bg-small" %>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="box-list">
          <% @projects.each do |project| %>
          <a href="<%= project_path(project) %>" class="box box-item box-dark linked align-items-start justify-content-between">
            <div class="box-body">
              <h4><%= project.name %></h4>
              <span style="opacity: .5;">Created by: <%= project.user.username %></span>
            </div>
            <div class="box-footer">
             
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
