<% content_for :title, "Projects -  #{ @project.name}" %>

<div class="section page-title bg-primary p-t-25 p-b-100" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center"><%= @project.name %></h1>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>

<div class="section content justify-content-start pull-top">
  <div class="container">
    <div class="row">
      <div class="col-lg ml-auto mr-auto breadcrumb-wrapper">
        <div class="breadcrumb-container breadcrumb-container__pull-top">
          <%= link_to root_path do %>Back to Home<% end %>
        </div>
        <div class="box m-b-30">
          <% if current_user&.id == @project.user_id %>
          <div class="box-menu top-right">
            <%= link_to edit_project_path(@project), id:'edit-btn', class: 'btn btn-primary btn-icon', data: {toggle: 'tooltip', placement: 'bottom'}, title: "Edit your project" do %>
              <%= image_tag "icons/edit.svg" %>
            <% end %>
          </div>
          <% end %>
          <div class="box-body">
            <div id="countdown" class="box-countdown mr-auto ml-auto" >
              <h5 class="m-b-0" style="">Created by <%= @project.user.username %>, <%= time_ago_in_words @project.created_at %> ago</h5>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
