<% content_for :title, "Quests - Log in" %>

<div class="section content bg-primary" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="title text-center">Log in</h1>
      </div>
    </div>
  </div>
  <div class="container m-t-0">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="box">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="form-check m-b-20">
            <label class="form-check-label">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              Remember me
            </label>
          </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
          </div>
          <% end %>
          <hr>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="waves">
    <%= image_tag "decoration/waves.svg" %>
  </div>
  <div class="waves rotate">
    <%= image_tag "decoration/waves.svg" %>
  </div>
</div>
