<div class="ornament-big">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="auto" viewBox="0 0 1751.14 351.66">
    <defs>
      <linearGradient id="linear-gradient" y1="155.63" x2="555.27" y2="155.63" gradientUnits="userSpaceOnUse">
        <stop offset="0" class="gradient-start"/>
        <stop offset="1" class="gradient-end"/>
      </linearGradient>
      <linearGradient id="linear-gradient-2" x1="296.94" y1="312.13" x2="665.87" y2="312.13" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-3" x1="166.62" y1="117.89" x2="296.24" y2="117.89" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-4" x1="110.22" y1="139.99" x2="285.33" y2="139.99" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-5" x1="-1274.53" y1="155.63" x2="-719.25" y2="155.63" gradientTransform="matrix(-1, 0, 0, 1, 476.61, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-6" x1="-977.59" y1="312.13" x2="-608.66" y2="312.13" gradientTransform="matrix(-1, 0, 0, 1, 476.61, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-7" x1="-1107.9" y1="117.89" x2="-978.29" y2="117.89" gradientTransform="matrix(-1, 0, 0, 1, 476.61, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-8" x1="-1164.31" y1="139.99" x2="-989.2" y2="139.99" gradientTransform="matrix(-1, 0, 0, 1, 476.61, 0)" xlink:href="#linear-gradient"/>
    </defs>
    <title>Asset 81</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <g>
          <path d="M51.77.19A.66.66,0,0,1,52.83,1C45,18.08,8.68,104.35,40,176.89,75,257.84,156,283.47,199.9,281.84s77.69-10.17,94-16.27,105.76-40.27,135.05-39.46c28.82.8,67.49-.37,126.09,44.18a.67.67,0,0,1-.59,1.17c-35.08-10.62-70.52-26.62-105.57-26.23-36.21.41-75.66,18.71-95.6,26.85s-82.37,37.63-128.13,39.05c-45.39,1.41-98-8.14-125.7-23.59S26.2,235.87,13.19,203.33-2.27,121.16,1.8,98C5.75,75.46,23.9,26.46,51.77.19Z" style="fill: url(#linear-gradient)"/>
          <path d="M297.82,335.2a.66.66,0,0,1-.62-1.15c15.51-11.92,90.26-65.87,166.29-61.16,83.13,5.15,137,41.11,202,77.52a.67.67,0,0,1-.52,1.22c-51.06-16-138.19-55.27-212.91-53.52C384,299.7,351.41,317.66,297.82,335.2Z" style="fill: url(#linear-gradient-2)"/>
          <path d="M189.58,49.71a.67.67,0,0,1,1.19.55c-3.63,13.41-13.42,60,14.52,92.06,31.48,36.15,58.79,32.74,90.17,27.57a.66.66,0,0,1,.41,1.25c-28.07,13.56-77.43,30.46-109.75-10.82C153.3,118.4,167.09,81.62,189.58,49.71Z" style="fill: url(#linear-gradient-3)"/>
          <path d="M160.69,49.47a.67.67,0,0,1,.9.94c-7,10.67-33.78,55.64-18.84,96.18,17.08,46.37,62.84,61,72.3,62.23,9,1.16,40.62,4.5,69.34-8.1a.67.67,0,0,1,.68,1.13c-23,18.18-61.47,36.21-90.76,25.58-31.12-11.28-76.28-42.1-83-79.62C104.78,111.21,128.12,68.81,160.69,49.47Z" style="fill: url(#linear-gradient-4)"/>
          <path d="M1699.37.19a.66.66,0,0,0-1.06.76c7.87,17.13,44.14,103.4,12.79,175.94-35,80.95-115.93,106.58-159.86,105s-77.7-10.17-94-16.27-105.76-40.27-135-39.46c-28.82.8-67.49-.37-126.09,44.18a.67.67,0,0,0,.59,1.17c35.08-10.62,70.51-26.62,105.57-26.23,36.2.41,75.66,18.71,95.59,26.85s82.37,37.63,128.14,39.05c45.39,1.41,98-8.14,125.69-23.59s73.22-51.67,86.24-84.21,15.46-82.17,11.39-105.35C1745.39,75.46,1727.24,26.46,1699.37.19Z" style="fill: url(#linear-gradient-5)"/>
          <path d="M1453.32,335.2a.66.66,0,0,0,.62-1.15c-15.51-11.92-90.26-65.87-166.3-61.16-83.12,5.15-137,41.11-202,77.52a.66.66,0,0,0,.51,1.22c51.07-16,138.19-55.27,212.91-53.52C1367.1,299.7,1399.73,317.66,1453.32,335.2Z" style="fill: url(#linear-gradient-6)"/>
          <path d="M1561.56,49.71a.67.67,0,0,0-1.19.55c3.62,13.41,13.42,60-14.52,92.06-31.49,36.15-58.8,32.74-90.18,27.57a.66.66,0,0,0-.4,1.25c28.07,13.56,77.42,30.46,109.74-10.82C1597.83,118.4,1584,81.62,1561.56,49.71Z" style="fill: url(#linear-gradient-7)"/>
          <path d="M1590.45,49.47a.67.67,0,0,0-.9.94c7,10.67,33.77,55.64,18.84,96.18-17.09,46.37-62.85,61-72.31,62.23-8.95,1.16-40.62,4.5-69.34-8.1a.66.66,0,0,0-.67,1.13c23,18.18,61.47,36.21,90.76,25.58,31.12-11.28,76.27-42.1,83-79.62C1646.36,111.21,1623,68.81,1590.45,49.47Z" style="fill: url(#linear-gradient-8)"/>
        </g>
      </g>
    </g>
  </svg>
</div>
