<div class="ornament-big">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="auto" viewBox="0 0 2129.67 857.09">
    <defs>
      <linearGradient id="linear-gradient" x1="136.92" y1="105.41" x2="268.08" y2="105.41" gradientUnits="userSpaceOnUse">
        <stop offset="0" class="gradient-start"/>
        <stop offset="1" class="gradient-end"/>
      </linearGradient>
      <linearGradient id="linear-gradient-2" x1="84.39" y1="101.66" x2="223.23" y2="101.66" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-3" x1="31.93" y1="411.35" x2="136.21" y2="411.35" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-4" x1="0" y1="395.91" x2="196.82" y2="395.91" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-5" x1="189.27" y1="661.06" x2="744.54" y2="661.06" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-6" x1="486.2" y1="817.56" x2="855.14" y2="817.56" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-7" x1="355.89" y1="623.31" x2="485.51" y2="623.31" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-8" x1="299.48" y1="645.41" x2="474.59" y2="645.41" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-9" x1="-1137.6" y1="105.41" x2="-1006.45" y2="105.41" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-10" x1="-1190.14" y1="101.66" x2="-1051.3" y2="101.66" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-11" x1="-1242.59" y1="411.35" x2="-1138.31" y2="411.35" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-12" x1="-1274.53" y1="395.91" x2="-1077.71" y2="395.91" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-13" x1="-1085.26" y1="661.06" x2="-529.99" y2="661.06" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-14" x1="-788.33" y1="817.56" x2="-419.39" y2="817.56" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-15" x1="-918.64" y1="623.31" x2="-789.02" y2="623.31" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-16" x1="-975.04" y1="645.41" x2="-799.94" y2="645.41" gradientTransform="matrix(-1, 0, 0, 1, 855.14, 0)" xlink:href="#linear-gradient"/>
    </defs>
    <title>Asset 80</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <g>
          <g>
            <path d="M266.72,31.77S187.1,35.43,169.4,89.43s5.49,96.41,5.49,96.41,0,2.14-2.74,0-39.66-46.37-34.78-82.37c5-36.76,31.73-58.58,40.58-63.76s49.11-25.33,88.77-10.07C269.78,31.16,266.72,31.77,266.72,31.77Z" style="fill: url(#linear-gradient)"/>
            <path d="M221.88,4.62s-91.53,17.7-104.65,84.2,32,108.92,34.78,112,.31,3.05-2.74,1.53S86.72,172.42,84.59,123s13.12-79.86,33.56-99S202.66-4.23,221.88,1.88C224.93,3.1,221.88,4.62,221.88,4.62Z" style="fill: url(#linear-gradient-2)"/>
            <path d="M32.83,325.77s59.39,31.73,74,70.78-13.42,93.77-16.47,97.83-1.83,5.09.2,4.07,41.29-23.8,45.15-62-16.87-69.57-28.88-81.77c-13.42-13.62-44.45-32-72.41-30.71C30,324.15,32.83,325.77,32.83,325.77Z" style="fill: url(#linear-gradient-3)"/>
            <path d="M.37,291.86a.81.81,0,0,0,.45,1.49c12.35-.27,63-.18,94.24,17.58,35.8,20.33,56.34,41.49,61.63,66.3s8.54,90.31-29.69,138.71c25.83-16.47,78.71-48.61,68.54-123.66s-69.69-106-91.53-111.66C78,273.91,31.68,271.76.37,291.86Z" style="fill: url(#linear-gradient-4)"/>
            <path d="M241,505.61a.67.67,0,0,1,1.07.76c-7.88,17.14-44.15,103.4-12.8,175.94,35,81,115.93,106.58,159.86,105s77.7-10.17,94-16.27,105.76-40.27,135-39.46c28.82.81,67.49-.36,126.09,44.18a.67.67,0,0,1-.59,1.17c-35.08-10.61-70.51-26.62-105.57-26.23-36.2.41-75.66,18.72-95.59,26.85s-82.37,37.63-128.13,39c-45.4,1.41-98-8.13-125.7-23.59s-73.22-51.66-86.24-84.2S187,626.59,191.06,603.4C195,580.88,213.16,531.89,241,505.61Z" style="fill: url(#linear-gradient-5)"/>
            <path d="M487.08,840.62a.66.66,0,0,1-.62-1.15c15.51-11.91,90.26-65.86,166.3-61.16,83.12,5.15,137,41.11,202,77.53a.66.66,0,0,1-.51,1.21c-51.07-16-138.19-55.26-212.91-53.52C573.3,805.13,540.68,823.08,487.08,840.62Z" style="fill: url(#linear-gradient-6)"/>
            <path d="M378.84,555.13a.67.67,0,0,1,1.19.55c-3.62,13.41-13.42,60,14.52,92.06,31.49,36.15,58.8,32.74,90.18,27.57a.66.66,0,0,1,.4,1.25c-28.07,13.57-77.42,30.46-109.74-10.82C342.57,623.82,356.36,587,378.84,555.13Z" style="fill: url(#linear-gradient-7)"/>
            <path d="M350,554.9a.67.67,0,0,1,.91.93c-7,10.67-33.78,55.64-18.85,96.18,17.09,46.37,62.85,61,72.31,62.24,8.95,1.15,40.62,4.5,69.34-8.11a.67.67,0,0,1,.68,1.13c-23,18.19-61.48,36.21-90.77,25.59-31.12-11.29-76.27-42.1-83-79.63C294,616.63,317.38,574.24,350,554.9Z" style="fill: url(#linear-gradient-8)"/>
          </g>
          <g>
            <path d="M1862.94,31.77s79.63,3.66,97.32,57.66-5.49,96.41-5.49,96.41,0,2.14,2.75,0,39.66-46.37,34.78-82.37c-5-36.76-31.73-58.58-40.58-63.76s-49.12-25.33-88.78-10.07C1859.89,31.16,1862.94,31.77,1862.94,31.77Z" style="fill: url(#linear-gradient-9)"/>
            <path d="M1907.79,4.62s91.53,17.7,104.64,84.2-32,108.92-34.78,112-.3,3.05,2.75,1.53,62.54-29.9,64.68-79.33S2032,43.13,2011.52,24,1927-4.23,1907.79,1.88C1904.74,3.1,1907.79,4.62,1907.79,4.62Z" style="fill: url(#linear-gradient-10)"/>
            <path d="M2096.84,325.77s-59.39,31.73-74,70.78,13.42,93.77,16.47,97.83,1.83,5.09-.2,4.07-41.29-23.8-45.15-62,16.87-69.57,28.88-81.77c13.42-13.62,44.44-32,72.4-30.71C2099.69,324.15,2096.84,325.77,2096.84,325.77Z" style="fill: url(#linear-gradient-11)"/>
            <path d="M2129.29,291.86a.81.81,0,0,1-.45,1.49c-12.34-.27-63-.18-94.24,17.58-35.79,20.33-56.34,41.49-61.62,66.3s-8.55,90.31,29.69,138.71c-25.83-16.47-78.71-48.61-68.54-123.66s69.69-106,91.52-111.66C2051.69,273.91,2098,271.76,2129.29,291.86Z" style="fill: url(#linear-gradient-12)"/>
            <path d="M1888.63,505.61a.67.67,0,0,0-1.06.76c7.87,17.14,44.15,103.4,12.8,175.94-35,81-115.94,106.58-159.87,105s-77.69-10.17-94-16.27-105.77-40.27-135-39.46c-28.83.81-67.5-.36-126.1,44.18a.67.67,0,0,0,.59,1.17c35.08-10.61,70.52-26.62,105.57-26.23,36.21.41,75.66,18.72,95.6,26.85s82.37,37.63,128.13,39c45.39,1.41,98-8.13,125.7-23.59s73.22-51.66,86.23-84.2,15.46-82.17,11.39-105.36C1934.65,580.88,1916.51,531.89,1888.63,505.61Z" style="fill: url(#linear-gradient-13)"/>
            <path d="M1642.58,840.62a.66.66,0,0,0,.62-1.15c-15.51-11.91-90.25-65.86-166.29-61.16-83.13,5.15-137,41.11-202,77.53a.66.66,0,0,0,.52,1.21c51.07-16,138.19-55.26,212.91-53.52C1556.37,805.13,1589,823.08,1642.58,840.62Z" style="fill: url(#linear-gradient-14)"/>
            <path d="M1750.82,555.13a.66.66,0,0,0-1.18.55c3.62,13.41,13.41,60-14.53,92.06-31.48,36.15-58.79,32.74-90.17,27.57a.66.66,0,0,0-.4,1.25c28.07,13.57,77.42,30.46,109.74-10.82C1787.1,623.82,1773.31,587,1750.82,555.13Z" style="fill: url(#linear-gradient-15)"/>
            <path d="M1779.71,554.9a.66.66,0,0,0-.9.93c7,10.67,33.78,55.64,18.84,96.18-17.08,46.37-62.84,61-72.3,62.24-9,1.15-40.62,4.5-69.34-8.11a.67.67,0,0,0-.68,1.13c23,18.19,61.47,36.21,90.77,25.59,31.11-11.29,76.27-42.1,83-79.63C1835.62,616.63,1812.28,574.24,1779.71,554.9Z" style="fill: url(#linear-gradient-16)"/>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
