<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 544.54 114.4" class= "section-divider m-t-30 m-b-30">
  <defs>
    <style>.cls-1,.cls-11,.cls-13,.cls-15,.cls-17,.cls-19,.cls-9{opacity:0.5;}.cls-2{fill:url(#linear-gradient);}.cls-3{fill:url(#linear-gradient-2);}.cls-4{fill:url(#linear-gradient-3);}.cls-5{fill:url(#linear-gradient-4);}.cls-6{fill:url(#linear-gradient-5);}.cls-7{fill:url(#linear-gradient-6);}.cls-10,.cls-12,.cls-14,.cls-16,.cls-18,.cls-8{opacity:0.25;}.cls-8{fill:url(#linear-gradient-7);}.cls-9{fill:url(#linear-gradient-8);}.cls-10{fill:url(#linear-gradient-9);}.cls-11{fill:url(#linear-gradient-10);}.cls-12{fill:url(#linear-gradient-11);}.cls-13{fill:url(#linear-gradient-12);}.cls-14{fill:url(#linear-gradient-13);}.cls-15{fill:url(#linear-gradient-14);}.cls-16{fill:url(#linear-gradient-15);}.cls-17{fill:url(#linear-gradient-16);}.cls-18{fill:url(#linear-gradient-17);}.cls-19{fill:url(#linear-gradient-18);}.cls-20{fill:url(#linear-gradient-19);}.cls-21{fill:url(#linear-gradient-20);}.cls-22{fill:url(#linear-gradient-21);}.cls-23{fill:url(#linear-gradient-22);}.cls-24{fill:url(#linear-gradient-23);}.cls-25{fill:url(#linear-gradient-24);}
    </style>
    <linearGradient id="linear-gradient" x1="393.34" y1="46.38" x2="544.54" y2="46.38" gradientUnits="userSpaceOnUse">
      <stop offset="0" class="gradient-start"/>
      <stop offset="1" class="gradient-end"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="418.39" y1="46.68" x2="499.85" y2="46.68" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="362.34" y1="53.56" x2="462.22" y2="53.56" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-4" x1="7939.19" y1="46.38" x2="8090.39" y2="46.38" gradientTransform="matrix(-1, 0, 0, 1, 8090.39, 0)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-5" x1="7964.24" y1="46.68" x2="8045.7" y2="46.68" gradientTransform="matrix(-1, 0, 0, 1, 8090.39, 0)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-6" x1="7908.19" y1="53.56" x2="8008.07" y2="53.56" gradientTransform="matrix(-1, 0, 0, 1, 8090.39, 0)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-7" x1="6274.81" y1="-1991.34" x2="6359.44" y2="-1991.34" gradientTransform="matrix(0.5, -0.87, 0.87, 0.5, -1117.59, 6504.91)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-8" x1="6250.21" y1="-1991.34" x2="6302.34" y2="-1991.34" gradientTransform="matrix(0.5, -0.87, 0.87, 0.5, -1117.59, 6504.91)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-9" x1="13973.56" y1="6021.38" x2="14058.19" y2="6021.38" gradientTransform="translate(2071.38 15158.37) rotate(-120)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-10" x1="13948.95" y1="6021.38" x2="14001.09" y2="6021.38" gradientTransform="translate(2071.38 15158.37) rotate(-120)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-11" x1="10883.71" y1="16695.04" x2="10968.34" y2="16695.04" gradientTransform="translate(11159.98 16723.38) rotate(180)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-12" x1="10859.11" y1="16695.04" x2="10911.24" y2="16695.04" gradientTransform="translate(11159.98 16723.38) rotate(180)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-13" x1="95.12" y1="19355.99" x2="179.75" y2="19355.99" gradientTransform="matrix(-0.5, 0.87, -0.87, -0.5, 17059.61, 9634.92)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-14" x1="70.52" y1="19355.99" x2="122.65" y2="19355.99" gradientTransform="matrix(-0.5, 0.87, -0.87, -0.5, 17059.61, 9634.92)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-15" x1="-7603.62" y1="11343.27" x2="-7518.99" y2="11343.27" gradientTransform="translate(13870.64 981.46) rotate(60)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-16" x1="-7628.22" y1="11343.27" x2="-7576.09" y2="11343.27" gradientTransform="translate(13870.64 981.46) rotate(60)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-17" x1="-4513.77" y1="669.61" x2="-4429.15" y2="669.61" gradientTransform="translate(4782.04 -583.54)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-18" x1="-4538.38" y1="669.61" x2="-4486.25" y2="669.61" gradientTransform="translate(4782.04 -583.54)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-19" x1="11027.96" y1="2141.42" x2="11078.03" y2="2141.42" gradientTransform="translate(3957.04 10725.23) rotate(-120)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-20" x1="7938.12" y1="12815.09" x2="7988.18" y2="12815.09" gradientTransform="translate(8263.59 12873.78) rotate(180)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-21" x1="-2850.47" y1="15476.04" x2="-2800.41" y2="15476.04" gradientTransform="matrix(-0.5, 0.87, -0.87, -0.5, 12277.57, 10218.46)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-22" x1="-10549.22" y1="7463.32" x2="-10499.15" y2="7463.32" gradientTransform="translate(11984.98 5414.61) rotate(60)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-23" x1="-7459.37" y1="-3210.35" x2="-7409.31" y2="-3210.35" gradientTransform="translate(7678.43 3266.06)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-24" x1="3329.22" y1="-5871.29" x2="3379.28" y2="-5871.29" gradientTransform="matrix(0.5, -0.87, 0.87, 0.5, 3664.46, 5921.37)" xlink:href="#linear-gradient"/>
  </defs>
  <title>Asset 76</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <g class="cls-1">
        <path class="cls-2" d="M400.58,40s-8.38,6.6-7.11,11.3,9.53,3.69,15.24,1,29-17.78,53.51-17.53,41.77,5.46,80.51,28c2.29,1.39,2.54-.89,0-2.29s-47.58-30.84-80.51-30.87c-17.94,0-36,3.64-49.44,13.29-14.69,10.53-11.31.43-10.8-1.6S400.58,40,400.58,40Z"/>
        <path class="cls-3" d="M419,52.83s18.3-13.21,41.16-13.47,38.62,7,38.62,7,3.05,1.62-1.15,1.88-26.46-2.45-38.2-2.17c-12,.29-35.35,6.51-38.39,7.52S418,53.52,419,52.83Z"/>
        <path class="cls-4" d="M408.59,39.62s5.71-12.32-7.62-7-21.73,19.56-18.93,26S398.81,65.4,417.48,62a367.83,367.83,0,0,0,42.81-11.06c1.4-.63,3,0,.89,1.65S426.75,74.42,406.55,79s-37.46,5.31-42-4.45S362.56,49.32,373.78,39s17.66-14,30-14.1,11.56,7.37,10.67,9A20.93,20.93,0,0,1,408.59,39.62Z"/>
      </g>
      <g class="cls-1">
        <path class="cls-5" d="M144,40s8.38,6.6,7.11,11.3-9.53,3.69-15.24,1-29-17.78-53.51-17.53-41.76,5.46-80.51,28c-2.29,1.39-2.54-.89,0-2.29S49.39,29.61,82.32,29.58c17.94,0,36,3.64,49.44,13.29,14.69,10.53,11.31.43,10.8-1.6S144,40,144,40Z"/>
        <path class="cls-6" d="M125.54,52.83S107.25,39.62,84.38,39.36s-38.62,7-38.62,7-3,1.62,1.15,1.88,26.47-2.45,38.21-2.17c12,.29,35.34,6.51,38.39,7.52S126.56,53.52,125.54,52.83Z"/>
        <path class="cls-7" d="M136,39.62s-5.71-12.32,7.63-7,21.72,19.56,18.92,26S145.74,65.4,127.06,62A367.83,367.83,0,0,1,84.25,50.92c-1.39-.63-3,0-.89,1.65S117.79,74.42,138,79s37.46,5.31,42-4.45S182,49.32,170.76,39s-17.66-14-30-14.1-11.56,7.37-10.67,9A20.93,20.93,0,0,0,136,39.62Z"/>
      </g>
      <path class="cls-8" d="M286.89,53.18h0A20.94,20.94,0,1,1,276.1,71.73h0a28.53,28.53,0,0,0-1.55-9.53H270a28.58,28.58,0,0,0-1,14.58c0,.14.05.28.08.42a.29.29,0,0,0,0,.09,28.6,28.6,0,1,0,18.07-32.62"/>
      <path class="cls-9" d="M310.49,87.56h0A20.94,20.94,0,0,1,276.1,71.73h0a28.53,28.53,0,0,0-1.55-9.53H270a28.58,28.58,0,0,0-1,14.58c0,.14.05.28.08.42a.29.29,0,0,0,0,.09,28.6,28.6,0,1,0,53.84-18A33.66,33.66,0,0,1,310.49,87.56Z"/>
      <path class="cls-10" d="M276.1,42.52h0a20.93,20.93,0,1,1,10.67,18.62h0a28.47,28.47,0,0,0-9-3.42l-2.28,4a28.43,28.43,0,0,0,12.1,8.2l.4.14.09,0a28.63,28.63,0,1,0-19.21-32"/>
      <path class="cls-11" d="M317.68,39.28h0a20.94,20.94,0,0,1-30.89,21.87h0a28.47,28.47,0,0,0-9-3.42l-2.28,4a28.43,28.43,0,0,0,12.1,8.2l.4.14.09,0A28.59,28.59,0,1,0,299.35,14.4,33.65,33.65,0,0,1,317.68,39.28Z"/>
      <path class="cls-12" d="M261.47,46.55h0a20.93,20.93,0,1,1,21.46.07h0a28.35,28.35,0,0,0-7.48,6.11l2.28,4a28.48,28.48,0,0,0,13.15-6.38l.32-.28.07-.06A28.62,28.62,0,1,0,254,50.6"/>
      <path class="cls-13" d="M279.45,8.92h0a20.94,20.94,0,0,1,3.49,37.68h0a28.35,28.35,0,0,0-7.48,6.11l2.28,4a28.48,28.48,0,0,0,13.15-6.38l.32-.28.07-.06a28.6,28.6,0,1,0-42.55-37.6A33.64,33.64,0,0,1,279.45,8.92Z"/>
      <path class="cls-14" d="M257.64,61.22h0a20.94,20.94,0,1,1,10.79-18.55h0A28.28,28.28,0,0,0,270,52.19h4.56a28.48,28.48,0,0,0,1.05-14.58c0-.14-.05-.28-.08-.42a.29.29,0,0,1,0-.09,28.61,28.61,0,1,0-18.08,32.62"/>
      <path class="cls-15" d="M234,26.84h0a20.94,20.94,0,0,1,34.38,15.82h0A28.28,28.28,0,0,0,270,52.19h4.56a28.48,28.48,0,0,0,1.05-14.58c0-.14-.05-.28-.08-.42a.29.29,0,0,1,0-.09,28.6,28.6,0,1,0-53.84,18A33.63,33.63,0,0,1,234,26.84Z"/>
      <path class="cls-16" d="M268.44,71.88h0a20.93,20.93,0,1,1-10.67-18.63h0a28.47,28.47,0,0,0,9,3.42l2.28-4a28.49,28.49,0,0,0-12.1-8.2l-.41-.14-.08,0a28.61,28.61,0,1,0,19.21,32"/>
      <path class="cls-17" d="M226.86,75.12h0a20.94,20.94,0,0,1,30.89-21.87h0a28.47,28.47,0,0,0,9,3.42l2.28-4a28.49,28.49,0,0,0-12.1-8.2l-.41-.14-.08,0A28.6,28.6,0,1,0,245.19,100,33.65,33.65,0,0,1,226.86,75.12Z"/>
      <path class="cls-18" d="M283.07,67.85h0a20.94,20.94,0,1,1-21.46-.07h0a28.35,28.35,0,0,0,7.48-6.11l-2.28-4a28.48,28.48,0,0,0-13.15,6.38l-.33.28-.06.06a28.62,28.62,0,1,0,37.28-.65"/>
      <path class="cls-19" d="M265.08,105.49v0a20.93,20.93,0,0,1-3.49-37.68h0a28.35,28.35,0,0,0,7.48-6.11l-2.28-4a28.48,28.48,0,0,0-13.15,6.38l-.33.28-.06.06a28.6,28.6,0,1,0,42.55,37.6A33.68,33.68,0,0,1,265.08,105.49Z"/>
      <path class="cls-20" d="M280.65,84.53a21,21,0,0,1-4.55-12.8h0a30.59,30.59,0,0,0-1.46-9.53h-4.76a29.89,29.89,0,0,0-.94,14.58c0,.14.05.28.08.42a.29.29,0,0,0,0,.09,28.58,28.58,0,0,0,39.64,20.32,33.62,33.62,0,0,1-28-13Z"/>
      <path class="cls-21" d="M300.13,63.61a21,21,0,0,1-13.36-2.46h0a30.72,30.72,0,0,0-9-3.5l-2.39,4.13a29.84,29.84,0,0,0,12.16,8.1l.4.14.09,0a28.59,28.59,0,0,0,37.42-24.18A33.64,33.64,0,0,1,300.2,63.65Z"/>
      <path class="cls-22" d="M291.75,36.28a21.06,21.06,0,0,1-8.81,10.33h0a30.42,30.42,0,0,0-7.53,6l2.38,4.12a29.82,29.82,0,0,0,13.1-6.47l.32-.28.07-.06a28.58,28.58,0,0,0-2.23-44.49,33.63,33.63,0,0,1,2.76,30.78Z"/>
      <path class="cls-23" d="M263.89,29.87a21,21,0,0,1,4.54,12.8h0a30.53,30.53,0,0,0,1.45,9.53h4.77a29.89,29.89,0,0,0,.94-14.58c0-.14-.05-.28-.08-.42a.29.29,0,0,1,0-.09,28.59,28.59,0,0,0-39.65-20.32,33.63,33.63,0,0,1,28,13Z"/>
      <path class="cls-24" d="M244.41,50.79a21,21,0,0,1,13.35,2.46h0a30.72,30.72,0,0,0,9,3.5l2.38-4.13A30,30,0,0,0,257,44.52l-.41-.14-.08,0a28.59,28.59,0,0,0-37.42,24.18,33.63,33.63,0,0,1,25.28-17.78Z"/>
      <path class="cls-25" d="M252.79,78.12a21,21,0,0,1,8.81-10.33h0a30.38,30.38,0,0,0,7.52-6l-2.38-4.12a29.73,29.73,0,0,0-13.09,6.47l-.33.28-.06.06a28.58,28.58,0,0,0,2.22,44.49,33.61,33.61,0,0,1-2.75-30.78Z"/>
    </g>
  </g>
</svg>
