/* --------------------------------------------------------------------
   Colors
-------------------------------------------------------------------- */
:root {
  --black_100: rgba(0, 0, 0, 1);
  --black_75: rgba(0, 0, 0, .75);
  --black_50: rgba(0, 0, 0, .5);
  --black_25: rgba(0, 0, 0, .25);
  --black_20: rgba(0, 0, 0, .2);
  --black_10: rgba(0, 0, 0, .1);
  --black_5: rgba(0, 0, 0, .05);
  --black_0: rgba(0, 0, 0, 0);
  --white_100: rgba(255, 255, 255, 1);
  --white_75: rgba(255, 255, 255, .75);
  --white_50: rgba(255, 255, 255, .5);
  --white_25: rgba(255, 255, 255, .25);
  --white_20: rgba(255, 255, 255, .2);
  --white_15: rgba(255, 255, 255, .15);
  --white_10: rgba(255, 255, 255, .1);
  --white_5: rgba(255, 255, 255, .05);
  --white_0: rgba(255, 255, 255, 0);

  --dark: #131313;
  --dark-2: #2e2e2e;

  --light: rgba(243, 243, 243, 1);
  --light-2: #efefef;

  --primary: #DC294D;
  --primary-2: #5B2C8A;

  --success: #47ae5e;
  --error: #ae4747;
  --warning: #c1a309;
  --notice: #14A5BF;
}

.gradient-start {
  stop-color: var(--primary);
}
.gradient-end {
  stop-color: var(--primary-2);
}
