@import "partials/mixins";

body * {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 900;
  &.title {
    font-size: 3em;
    margin-bottom: 0.4em;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h5, h6 {
  margin: 0;
}

a {
  color: var(--primary-2);
  &:hover {
    color: var(--primary);
  }
}

ul, ol {
  padding-left: 20px;
}

blockquote {
  padding: 15px 30px 15px 30px;
  background: var(--light);
  position: relative;
  @include border-radius;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%, 10px);
    @include bg(primary);
  }
}

pre {
  padding: 15px;
  background: var(--light);
  @include border-radius;
}
