@import "partials/mixins";

.alert {
  position: fixed !important;
  z-index: 10;
  top: 100px;
  right: 50%;
  width: 280px;
  margin-right: -140px;
  border: 2px solid var(--black_25) !important;
  color: var(--white_100) !important;
  .timedout {
    @include size(50px, 50px);
  }
  .close {
    @include size(50px, 50px);
    margin: -13px -20px;
    margin-left: 5px;
    &:hover {
      background-color: var(--black_25);
      outline: none;
    }
  }
  &-info {
    background-color: var(--notice) !important;
  }
  &-warning {
    background-color: var(--yellow) !important;
  }
  &-danger {
    background-color: var(--error) !important;
  }
}
/* < 575.98px */
@media screen and (max-width: 575.98px) {
  .alert {
    width: calc(100% - 20px);
    right: 10px;
    margin-right: 0;
  }
}
