@import "partials/mixins";

// Particles Background
.particles {
  @include bg-image;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  @include size(100vh, 100%);
  opacity: .5;
  &:before, &:after {
    content: "";
    position: absolute;
    @include size(100%, 100%);
    background-image: image-url("hero/particles.png");
    background-size: 100%;
    animation: move 100s infinite linear;
  }
  &:before {
    right: 100%;
  }
}

// Keyframes for moving particles

@keyframes move {
    from {transform: translateX(  0%);}
      to {transform: translateX(100%);}
}
@keyframes move-left {
    from {transform: translateX(  0%);}
      to {transform: translateX(-100%);}
}

// Quests Hero Animation
.animation-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: calc(100vh - 70px);
  width: 50%;
  @include flex(column, center, nowrap);
  align-items: center;
  .animation-container {
    position: relative;
    right: 0;
    bottom: 0;
    @include size(780px, 100%);
  }
  .circle-wrapper {
    position: absolute;
    top: 30px;
    left: calc(50% - 200px);
    @include size(400px, 400px);
    @include flex(column, center);
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    img {
      position: absolute;
      opacity: .4;
      z-index: 3;
      &.circle-outline {
        &:nth-child(odd) {
          @include animation(rotating-right, 6s, linear, infinite);
        }
        &:nth-child(even) {
          @include animation(rotating-left, 8s, linear, infinite);
        }
      }
      &.transparent-20 {
        opacity: .2;
      }
      &.size-lg {
        width: 105%;
      }
      &.size-sm {
        width: 95%;
      }
      &.circle-dots-1, &.circle-dots-2 {
        width: 110%;
      }
      &.circle-dots-1 {
        @include animation(rotating-left, 100s, linear, infinite);
      }
      &.circle-dots-2 {
        @include animation(rotating-right, 100s, linear, infinite);
      }
    }
    .inner-circle {
      position: absolute;
      z-index: 3;
      @include size(90%, 90%);
      border-radius: 50%;
      opacity: .75;
      @include transition;
    }
    &:hover {
      .inner-circle {
        opacity: 1;
      }
    }
  }
  .portal-wrapper {
    position: absolute;
    top: 130px;
    left: calc( (100% - 500px) / 2 );
    width: 500px;
    margin: 0 auto;
    z-index: 1;
    .iota-logo-wrapper {
      position: absolute;
      bottom: 83px;
      left: 50%;
      width: 80px;
      margin-left: -31px;
      opacity: .5;
      transform: matrix(1.5, 0 , 0, 0.6, 0, 0) rotate(360deg);
    }
    .iota-logo {
      width: 100%;
      @include animation(rotating-right, 12s, linear, infinite);
    }
    .circle-lines-wrapper {
      position: relative;
      left: calc(( 100% - 400px ) /2);
      bottom: 228px;
      width: 410px;
      transform: matrix(1.5, 0, 0, 0.55, 0, 0) rotate(360deg);
    }
    .circle-lines {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      @include animation(rotating-left, 48s, linear, infinite);
    }
  }
}

// Keyframes for Rotation
@-webkit-keyframes rotating-right /* Safari and Chrome */ {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(360deg);
  }
}
@keyframes rotating-right {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(360deg);
  }
}
@-webkit-keyframes rotating-left /* Safari and Chrome */ {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(-360deg);
  }
}
@keyframes rotating-left {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(-360deg);
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .animation-wrapper {
    transform: scale(0.8);
  }
}
/* < 767px */
@media screen and (max-width: 767px) {
  .animation-wrapper {
    left: calc(( 100% - 300px) / 2);
    transform: scale(1);
  }
}
/* < 580px */
@media screen and (max-width: 580px) {
  .animation-wrapper {
    transform: scale(0.8);
  }
}

/* < 520px */
@media screen and (max-width: 520px) {
  .animation-wrapper {
    transform: scale(0.7);
    bottom: 100px;
    left: 0;
    width: 100%;
  }
}
