@import "partials/mixins";

.badge {
  padding: 4px 8px !important;
  font-size: 0.8rem !important;
  &-primary {
    @include bg(primary);
  }
  &-error {
    background-color: var(--yellow) !important;
    color: var(--white_100);
  }
  &-success {
    background-color: var(--success) !important;
  }
  &-notice {
    background-color: var(--notice) !important;
    color: var(--white_100);
  }
  &.icon {
    margin-left: 5px;
    padding: 4px 8px !important;
    display: flex;
    align-items: center;
    text-align: left;
    white-space: initial;
    img {
      @include size(20px, 20px);
      margin-right: 5px;
    }
    time, span {
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 20px;
    }
  }
  &.border-badge {
    border: 2px solid var(--black_50);
  }
}
