@import "partials/mixins";

.box {
  position: relative;
  padding: 30px;
  @include border-radius;
  background-color: var(--white_100);
  border: 1px solid var(--black_20);

  /* --------------------------------------------------------------------
     EXTERNALS
  -------------------------------------------------------------------- */
  .react-balance {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 30px;
    @include bg(primary);
    border-radius: 0 0 5px 5px;
    .card {
      background: transparent;
      border: none;
      color: var(--white_100);
      img {
        width: 200px;
      }
    }
    .balance-footer {
      @include flex(column, center);
      align-items: center;
      color: var(--white_100);
      a {
        color: var(--white_50);
        @include transition;
        &:hover {
          color: var(--white_100);
        }
      }
    }
  }

  /* --------------------------------------------------------------------
     THEMES
  -------------------------------------------------------------------- */
  &-dark {
    background-color: var(--white_5);
    color: var(--white_100) !important;
    border: 1px solid var(--white_10);
  }
  &-success {
    background-color: var(--success);
    .box-title {
      color: var(--dark) !important;
    }
  }
  &.selected {
    border: 5px solid var(--primary);
  }


  /* --------------------------------------------------------------------
     LAYOUT
  -------------------------------------------------------------------- */
  &-center {
    .box-body {
      @include flex(column, flex-start);
      align-items: center;
    }
  }

  /* --------------------------------------------------------------------
     MENUES
  -------------------------------------------------------------------- */
  .box-menu {
    display: flex;
    justify-content: center;
    &.top-right {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
  .options-wrapper {
    position: absolute;
    top: -15px;
    right: 20px;
    display: flex;
  }

  /* --------------------------------------------------------------------
     TITLES
  -------------------------------------------------------------------- */
  .box-title {
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    span {
      padding: 0px 8px;
      font-size: 1rem;
      font-weight: bold;
      background: var(--white_100);
      border-radius: 3px;
      border: 1px solid var(--black_25);
      span {
        padding: 0;
        border-radius: none;
        border: none;
      }
    }
  }
  // NOT USED
  .title-inner {
    @include flex(row, center);
    width: 100%;
    margin-bottom: 5px;
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 700;
    }
  }
  /* --------------------------------------------------------------------
     HEADER
  -------------------------------------------------------------------- */
  .box-header {
    @include flex(row, space-between, nowrap);
    align-items: center;
    margin: -30px;
    margin-bottom: 30px;
    padding: 10px;
    color: var(--dark);
    background-color: var(--black_5);
    border-radius: 5px 5px 0 0;
    .creator {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      .user-avatar {
        @include size(40px, 40px);
        @include flex(column, center);
        align-items: center;
        margin-right: 10px;
        background-color: var(--black_10);
        border-radius: 50%;
        img {
          @include size(20px, 20px);
        }
      }
      h6 {
        font-weight: 300;
        opacity: .5;
        font-size: 0.8rem;
      }
    }
  }
  .box-body {
    .box-countdown {
      max-width: 100%;
      @include flex(column, flex-start, nowrap);
      align-items: center;
      margin-top: 10px;
      background-color: transparent;
      hr {
        width: 100%;
        border-color: var(--black_10);
      }
      .countdown-wrapper {
        width: 100%;
        @include flex(row, space-between, nowrap);
        align-items: baseline;
        .countdown-box {
          @include flex(column, center, nowrap);
          align-items: center;
          flex-basis: 20%;
          padding: 20px 0;
          background-color: var(--light-2);
          border: 1px solid var(--white_10);
          @include border-radius;
          span {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 0.8rem;
            opacity: 0.5;
          }
        }
      }
    }
    .tags {
      @include flex(row, center, wrap);
      .badge {
        margin-left: 5px;
        margin-right: 5px;
      }
      &-left {
        justify-content: flex-start;
        .badge {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  .box-footer {
    width: calc(100% + 60px);
    margin: -30px;
    margin-top: 30px;
    @include flex(row, space-between, nowrap);
    align-items: center;
    background-color: var(--black_10);
    .box-counter {
      height: 50px;
      @include flex(row, center, nowrap);
      align-items: center;
      flex: 1;
      img {
        @include size(20px, 20px);
        margin-bottom: 0;
        margin-right: 5px;
        background-color: transparent;
      }
    }
  }
}

.box-list {
  @include flex(row, space-between, wrap);
  align-items: stretch;
  margin: 0 -10px;
  .box-item {
    min-width: 30%;
    @include flex(column, flex-start);
    align-items: center;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 0 10px 20px;
    .circled-box-image  {
      @include size(200px, 200px);
      margin-bottom: 30px;
      @include bg(primary);
      border-radius: 50%;
    }
    h3 {
      letter-spacing: 0 !important;
      font-weight: 900;
      font-size: 24px !important;
      text-transform: none !important;
    }
    &.linked {
      text-decoration: none;
      color: var(--dark);
      &:hover {
        @include bg(primary);
        color: var(--white_100);
        .box-title {
          color: var(--dark);
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box {
    .box-body {
      .box-countdown {
        max-width: calc(100% - 200px);
      }
    }
  }
  .box-list {
    .box-item {
      img {
        @include size(150px, 150px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .box {
    .box-body {
      .box-countdown {
        margin-top: 10px;
        max-width: 100%;
      }
    }
  }
  .box-list {
    justify-content: center;
    .box-item {
      flex-basis: 60%;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .box {
    padding: 20px;
    margin-bottom: 15px;
    .box-title {
      padding-left: 20px;
    }
    .box-menu {
      &.top-right {
        top: 20px;
        right: 20px;
      }
    }
    .box-header {
      margin: -20px;
      margin-bottom: 20px;
    }
    .tags {
      .badge {
        margin-bottom: 5px;
      }
    }
    .box-body {
      .box-countdown {
        align-items: flex-start;
        .countdown-wrapper {
          .countdown-box {
            background-color: var(--light-2) !important;
            @include border-radius;
            padding: 10px 0;
            h3 {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
