@import "partials/mixins";

.breadcrumb-wrapper {
  position: relative;
  margin-top: 40px;
  .breadcrumb-container {
    position: absolute;
    top: -40px;
    left: 70px;
    width: calc(100% - 140px);
    height: 40px;
    @include flex(row, center);
    align-items: center;
    background: var(--white);
    border: 1px solid var(--black_25);
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    a {
      @include size(100%, 100%);
      @include flex(column, center, nowrap);
      align-items: center;
      color: var(--black_50);
    }
    &__pull-top {
      background-color: var(--black_25);
      @include transition;
      a {
        color: var(--white_50);
        text-decoration: none;
        @include transition;
      }
      &:hover {
        background-color: var(--black_75);
        a {
          color: var(--white_100);
        }
      }
    }
  }
}
