@import "partials/mixins";

.btn {
  overflow: hidden;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.5rem 1.5rem !important;
  font-weight: 700 !important;
  transition: all 0.4s cubic-bezier(.87,-.41,.19,1.44) !important;
  &-primary {
    border: none;
    @include bg(primary);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: image-url('decoration/btn-deco.svg');
      @include bg-image;
      height: 100%;
      width: 100%;
      opacity: .4;
      @include transition;
    }
    &:hover {
      &:before {
        opacity: .2;
      }
    }
  }
  &-icon {
    border: none;
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    @include size(40px, 40px);
    img {
      @include size(20px, 20px);
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
