@import "partials/mixins";

.calendar {
  .simple-calendar {
    .calendar-heading {
      @include flex(row, space-between);
      align-items: baseline;
      position: relative;
      margin-bottom: 20px;
      .calendar-title {
        @include flex(row, flex-start);
        align-items: baseline;
        font-size: 1.5rem;
        font-weight: 700;
        .calendar-year {
          font-size: 1rem;
          margin-left: 10px;
          opacity: .5;
        }
        .calendar-year, .calendar-month {
          font-weight: 700;
        }
      }
      .calendar-actions {
        overflow: hidden;
        height: 36px;
        @include flex(row, flex-start, nowrap);
        align-items: center;
        @include border-radius;
        background-color: var(--black_20);
        .calendar-action {
          @include size(inherit, 36px);
          @include flex(column, center);
          align-items: center;
          color: var(--white_100);
          text-decoration: none;
          position: relative;
          @include transition;
          &:before {
            content: '';
            @include size(10px, 10px);
            @include bg-image;
            background-image: image-url('icons/caret.svg');
          }
          &:hover {
            background-color: var(--black_10);
          }
          &:first-child {
            border-right: 1px solid var(--black_10);
            &:before {
              transform: rotate(90deg);
            }
          }
          &:last-child {
            border-left: 1px solid var(--black_10);
            &:before {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
    .calendar-body {
      overflow: hidden;
      color: var(--dark);
      background-color: var(--white_100);
      @include border-radius;
      border: 1px solid var(--black_25);
      .calendar-head {
        height: 40px;
        @include flex(row, space-between, nowrap);
        .calendar-head-item {
          @include flex(column, center);
          align-items: center;
          flex: 1;
          span {
            font-weight: 700;
            opacity: .5;
            text-transform: uppercase;
          }
        }
      }
      .calendar-content {
        .calendar-row {
          @include flex(row, space-between, nowrap);
          &:first-child {
            .day {
              border-radius: 0 0 5px 5px;
              &:first-child {
                border-radius: 0 0 5px 0;
              }
              &:last-child {
                border-radius: 0 0 0 5px;
              }
            }
          }
          &:last-child {
            .day {
              border-radius: 5px 5px 0 0;
              &:first-child {
                border-radius: 0 5px 0 0;
              }
              &:last-child {
                border-radius: 5px 0 0 0;
              }
            }
          }
          .day {
            overflow: hidden;
            height: auto;
            min-height: 60px;
            @include flex(column, flex-start, nowrap);
            align-items: center;
            flex: 1;
            @include border-radius;
            @include linear-gradient(45deg, var(--black_0), var(--black_0));
            background-color: transparent !important;
            .calendar-link {
              @include size(100%, 100%);
              @include flex(column, flex-start, nowrap);
              align-items: center;
              padding-top: 5px;
              color: var(--black_50);
              text-decoration: none;
              &.active {
                @include bg(primary);
              }
            }
            .calendar-date {
              font-weight: 700;
              opacity: .5;
            }
            .calendar-day-events {
              @include flex(row, center, wrap);
              align-items: center;
              .badge {
                @include size(15px, 15px);
                margin: 0 3px 3px;
                padding: 0 !important;
                border-radius: 50%;
                border: 2px solid var(--black_25);
                &.active {
                  opacity: 1;
                }
              }
            }
            &.next-month, &.prev-month {
              color: var(--black_50);
              background-color: transparent;
            }
            &.today {
              color: var(--white_100);
              background-color: var(--black_10) !important;
              .calendar-date {
                opacity: 1;
              }
            }
            &:hover {
              @include linear-gradient(45deg, var(--black_5), var(--black_10));
              .calendar-date {
                opacity: 1;
              }
            }
            &:first-child {
              border-radius: 0 5px 5px 0;
            }
            &:last-child {
              border-radius: 5px 0 0 5px;
            }
          }
        }
      }
    }
  }
  .badge-container {
    .badge {
      border: 2px solid var(--black_50);
      &:hover {
        text-decoration: underline;
        color: var(--white_100);
      }
    }
  }
}
.calendar-show {
  padding-top: 59px;
  .box {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include size(10px, 100%);
    }
    &.iota_developer_meetup {
      &:before, &:after {
        background-color: var(--yellow);
      }
      &:after {
        border-color: var(--yellow);
      }
    }
    &.iota_community_meetup {
      &:before, &:after {
        background-color: var(--notice);
      }
      &:after {
        border-color: var(--notice);
      }
    }
    &.iota_ecosystem_days {
      &:before, &:after {
        background-color: var(--success);
      }
      &:after {
        border-color: var(--success);
      }
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .calendar-show {
    position: relative !important;
    padding-top: 10px;
  }
  .badge-container {
    display: none;
  }
}
