@import "partials/mixins";

.nested-header {
  @include flex(row, space-between, nowrap);
  align-items: center;
  h3 {
    margin-bottom: 0;
  }
}

nav.nav.nav-pills {
  overflow: hidden;
  @include border-radius;
  .nav-item.nav-link {
    @include flex(column, center);
    align-items: center;
    color: var(--white_100);
    background-color: var(--black_75);
    height: 50px;
    @include transition;
    border-radius: 0;
    cursor: pointer;
    &:hover, &.active {
      @include bg(primary);
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

content {
  .card {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.trix {
  * {
    &:first-child {
      margin-top: 0;
    }
  }
}

.youtube_wrapper {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  #youtube_stream {
    width: 100%;
    height: 300px;
  }
}

.map-image {
  width: 100%;
}

#youtube_stream {
  width: 100%;
  height: 40vh;
}

/* < 991px */
@media screen and (max-width: 991px) {
  .box-countdown .countdown-wrapper .countdown-box {
    span {
      font-size: 0.6rem;
    }
  }
}
/* < 768px */
@media screen and (max-width: 768px) {
  .box-countdown {
    margin-top: 50px;
  }
}


.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  .link-item {
    color: var(--white);
    position: relative;
    padding-left: 25px;
    @include transition;
    text-decoration: none;
    &:before {
      @include transition;
      content: '';
      position: absolute;
      background-image: image-url('icons/arrow.svg');
      @include size(15px, 15px);
      left: 0;
      top: 3px;
    }
    &:hover {
      padding-left: 0;
      &:before {
        left: calc(100% + 10px);
      }
    }
  }
}

.caret-down {
  @include size(50px, 50px);
  background-color: var(--black_50);
  @include flex(column, center, nowrap);
  align-items: center;
  border-radius: 50%;
  @include transition;
  img {
    @include size(20px, 20px);
    margin-top: 5px;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--black_75);
  }
}
