@import "partials/mixins";

footer {
  position: relative;
  height: auto;
  padding: 100px 0;
  color: var(--white_100);
  background-color: var(--dark);
  border-top: 1px solid var(--white_25);
  .footer-top {
    @include flex(column, center, nowrap);
    align-items: center;
    img {
      height: 50px;
    }
    .footer-nav {
      @include flex(row, center, nowrap);
      align-items: baseline;
      margin: 0;
      padding: 0;
      padding-top: 30px;
      list-style-type: none;
      li {
        margin: 0 15px;
        a {
          color: var(--white_100);
          font-size: 1.2rem;
          font-weight: 700;
          @include border-radius;
          &:hover {
            @include bg(primary);
          }
        }
        &.active {
          a {
            background-color: var(--white_10);
          }
        }
      }
    }
  }
  .footer-divider {
    position: relative;
    @include flex(row, center, nowrap);
    align-items: center;
    hr {
      position: absolute;
      width: 100%;
      border-color: var(--white_10);
      margin: 0;
    }
    span {
      position: relative;
      z-index: 1;
      padding: 0 10px;
      background-color: var(--dark);
    }
    .caret-down {
      position: absolute;
      right: 20px;
      background-color: var(--white_100);
      transform: rotate(180deg);
      img {
        margin-top: 2px;
        filter: invert(100%);
      }
    }
  }
  .footer-bottom {
    @include flex(column, flex-start, nowrap);
    align-items: center;
    span {
      color: var(--white_50);
    }
    a {
      color: var(--white_75);
    }
  }
}

/* < 767px */
@media screen and (max-width: 767px) {
  footer {
    .footer-top {
      .footer-nav {
        display: none;
      }
    }
    .footer-divider {
      .caret-down {
        right: 10px;
        @include size(40px, 40px);
        img {
          @include size(15px, 15px);
        }
      }
    }
  }
}
