@import "partials/mixins";

trix-editor {
  overflow-y: auto;
  height: 300px;
  padding: 15px !important;
  @include border-radius;
  @include transition;
  h1 {
    &:first-child {
      margin-top: 0;
    }
  }
  * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
trix-toolbar {
  .nesting-level, .strike {
    display: none;
  }
  .button_row {
    margin: 0 -15px 15px;
    .button_group {
      overflow: hidden;
      margin: 0 15px;
      background-color: var(--light-2);
      border: none;
      button.icon {
        width: 50px;
        border: none !important;
        @include transition;
        &:hover, &.active {
          @include bg(primary);
        }
      }
    }
  }
}

.map {
  img {
    width: 100%;
  }
}

.form-group {
  label {
    margin-bottom: 3px !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    color: var(--dark);
  }
}

.form-check-label {
  color: var(--dark);
}

.actions {
  height: 40px;
}

@media screen and (max-width: 575.98px) {
  .bootstrap-datetimepicker-widget {
    right: 5px !important;
    width: 260px !important;
  }
  trix-toolbar {
    .button_row {
      margin: 0 -5px 10px;
      .button_group {
        margin: 0 5px;
      }
    }
  }
}
