@import "partials/mixins";

.illustration {
  position: relative;
  overflow: hidden;
  z-index: 2;
  height: calc(100vw / 4.75);
  width: 100%;
  margin-top: 100px;
  &:before, &:after {
    content: "";
    position: absolute;
    @include size(100%, 100%);
    background-image: image-url("hero-illustration.jpg");
    @include bg-image;
    background-position: bottom left;
    background-size: 100%;
    border-top: 10px solid var(--black_50);
    border-bottom: 10px solid var(--black_50);
    animation: move 80s infinite linear;
  }
  &:before {
    right: 100%;
  }
}

.waves {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  @include size(100%, 100%);
  @include flex(row, flex-end);
  align-items: baseline;
  opacity: .75;
  &.rotate {
    transform: rotate(180deg);
  }
}

@keyframes move {
    from {transform: translateX(  0%);}
      to {transform: translateX(100%);}
}
@keyframes move-left {
    from {transform: translateX(  0%);}
      to {transform: translateX(-100%);}
}

/* < 1800px */
@media screen and (max-width: 1800px) {

}

/* < 1100px */
@media screen and (max-width: 1100px) {
  .waves {
    top: -200px;
    &.rotate {
      top: auto;
      bottom: -200px;
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .illustration {
    display: none;
  }
  .waves {
    opacity: .5;
  }
}

/* < 768px */
@media screen and (max-width: 768px) {
  .illustration-mobile {
    height: 400px;
  }
}

@media (max-width: 575.98px) {
  .illustration-mobile {
    height: 300px;
  }
}
