@import "partials/mixins";

body {
  padding-top: 90px;
  background-color: var(--light) !important;
}

.section {
  padding: 40px 0;
  .container {
    position: relative;
    z-index: 3;
  }
  .waves {
    width: 100%;
    &.rotate {
      left: 0;
    }
  }
  &.hero {
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: calc(100vh - 90px);
    position: relative;
    overflow: hidden;
    .container {
      margin-top: 15vh;
      position: relative;
      z-index: 2;
    }
  }
  &.page-title {
    min-height: 350px;
    max-height: 700px;
    height: auto;
    text-align: center;
    @include flex(column, center);
    overflow: hidden;
    position: relative;
    .waves {
      width: 100%;
      img {
        height: 80%;
      }
      &.rotate {
        left: 0;
      }
    }
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3em;
    }
  }
  &.content {
    position: relative;
    overflow: hidden;
    @include flex(column, center);
    min-height: 80vh;
    .waves {
      img {
        height: 50%;
      }
    }
  }
  &.pull-top {
    margin-top: -130px;
    position: relative;
    z-index: 3;
  }
  &.bg-primary {
    @include bg(primary);
  }
  &.bg-darker {
    background-color: var(--dark);
    color: var(--white_100);
  }
  &.bg-white {
    background-color: var(--white_100);
  }
  &.decoration-1 {
    position: relative;
    h2 {
      text-transform: uppercase;
      font-size: 42px;
      font-weight: 900;
    }
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }
    p {
      opacity: .75;
    }
    .section-divider {
      height: 50px;
      opacity: .5;
    }
    .row {
      position: relative;
      z-index: 2;
      &-decoration {
        @include flex(column, flex-start);
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .decorator {
        position: relative;
        z-index: 2;
      }
    }
    .ornament-big {
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      left: 0;
      opacity: .25;
    }
  }
}
/* < 1250px */
@media screen and (max-width: 1250px) {
  .page-title {
    .waves {
      top: -50px;
      &.rotate {
        top: auto;
        bottom: -50px;
      }
    }
  }
}
/* < 1100px */
@media screen and (max-width: 1100px) {
  .page-title {
    .waves {
      top: -100px;
      &.rotate {
        top: auto;
        bottom: -100px;
      }
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .section.hero {
    @include flex(column, flex-start, nowrap);
    align-items: center;
    .container {
      margin-top: 0px;
    }
  }
}

/* < 768px */
@media screen and (max-width: 768px) {
}

/* < 575.98px */
@media screen and (max-width: 575.98px) {
  .section.hero {
    .container {
      .box-countdown {
        margin-top: 40px;
      }
    }
  }
  .section.page-title {
    padding-top: 0;
    padding-bottom: 0;
    height: 250px;
    min-height: 250px;
    &.big {
      h1 {
        font-size: 2rem;
      }
    }
  }
  .breadcrumb-wrapper {
    .breadcrumb-container {
      width: calc(100% - 80px);
      left: 40px;
    }
  }
}
