@import "partials/mixins";

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include size(90px, 100%);
  @include flex(row, space-between, wrap);
  align-items: center;
  background-color: var(--dark);
  @include box-shadow;
  .meta-nav {
    height: 30px;
    width: calc(100% + 30px);
    margin: -10px -15px 0;
    margin-bottom: 1px;
    @include linear-gradient(to left, var(--white_5), var(--white_0));
    ul {
      height: inherit;
      @include flex(row, flex-start, nowrap);
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        height: inherit;
        a {
          height: inherit;
          padding: 0 15px;
          @include flex(column, center, nowrap);
          align-items: center;
          margin-top: 1px;
          color: var(--white_50);
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          text-decoration: none;
          &:hover {
            @include bg(primary);
            color: var(--white_100);
          }
        }
      }
    }
  }
  a.navbar-brand {
    height: 60px;
    @include flex(column, center);
    margin: 0;
    padding: 0;
    img {
      height: 40px;
      @include border-radius;
    }
    &:hover {
      img {
        @include bg(primary);
      }
    }
    &.active {
      img {
        background-color: var(--white_10);
      }
    }
  }
  div.navbar-collapse {
    @include flex(row, flex-end, nowrap);
    height: 60px;
    ul.navbar-nav {
      @include flex(row, flex-end, nowrap);
      align-items: center;
      li.nav-item {
        padding: 0 5px;
        font-size: 1rem;
        a {
          padding: 8px 16px;
          color: var(--white_50);
          @include border-radius;
          @include transition;
          &:hover,  {
            @include bg(primary);
            color: var(--white_100);
          }
        }
        &.icon {
          img {
            @include size(20px, 20px);
            margin-right: 10px;
          }
        }
        &.dropdown {
          position: relative;
          a#navbar-dropdown {
            position: relative;
            &:after {
              position: absolute;
              top: 19px;
              right: 10px;
            }
          }
          .dropdown-menu {
            position: absolute;
            top: 55px;
            right: 0;
            left: auto;
            overflow: hidden;
            padding: 0;
            background-color: var(--dark);
            .dropdown-divider {
              margin: 0;
              border-color: var(--white_25);
            }
            a.dropdown-item {
              border-radius: 0;
              font-weight: 300;
            }
          }
          &.active {
            .dropdown-menu {
              a.dropdown-item {
                background-color: transparent;
                color: var(--white_50);
                font-weight: 300;
              }
            }
          }
        }
        &.active {
          a {
            background-color: var(--white_10);
            color: var(--white_100);
            font-weight: 700;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  nav.navbar {
    position: fixed;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding: 0;
    .meta-nav {
      margin: 0;
    }
    a.navbar-brand {
      img {
        height: 40px;
        margin-left: 10px;
      }
    }
    .navbar-toggler {
      @include size(60px, 60px);
      @include flex(column, center, nowrap);
      align-items: center;
      outline: none;
      border-radius: 0 !important;
      &[aria-expanded="false"] {
        .navbar-toggler-wrapper {
          span.line {
            &__top {
              top: 5.5px;
              transform: rotate(0deg);
            }
            &__center {
              width: 20px;
              opacity: 1;
            }
            &__bottom {
              bottom: 5.5px;
              transform: rotate(0deg);
            }
          }
        }
      }
      .navbar-toggler-wrapper {
        position: relative;
        @include size(30px, 26px);
        @include flex(column, center, nowrap);
        align-items: flex-end;
        span.line {
          position: absolute;
          @include size(3px, 26px);
          background-color: var(--white_100);
          @include border-radius;
          @include transition;
          &__top {
            top: 14px;
            transform: rotate(45deg);
          }
          &__center {
            opacity: 0;
          }
          &__bottom {
            transform: rotate(-45deg);
            bottom: 13px;
          }
        }
      }
      &:hover {
        @include bg(primary);
      }
    }
    div.navbar-collapse {
      display: none;
      height: auto;
      &.show {
        display: flex;
      }
      ul.navbar-nav {
        height: calc(100vh - 70px);
        width: 100%;
        @include flex(column, flex-start, nowrap);
        background-color: var(--white_5);
        li.nav-item {
          position: relative;
          height: 50px;
          min-height: 50px;
          width: 100%;
          @include flex(row, flex-end, nowrap);
          align-items: center;
          padding: 0;
          border-bottom: 1px solid var(--white_10);
          &:first-child {
            border-top: 1px solid var(--white_10);
          }
          a {
            @include size(100%, 100%);
            @include flex(row, flex-start, nowrap);
            align-items: center;
            padding: 0 20px;
            text-align: right;
            border-radius: 0;
          }
          &.icon, &.dropdown {
            position: relative;
          }
          &.icon {
            img {
              opacity: .5;
            }
            .nav-link {
              &:before {
                position: absolute;
                left: 50px;
              }
              &.notifications {
                &:before {
                  content: 'Notifications';
                }
              }
              &.quests {
                &:before {
                  content: 'Quests';
                }
              }
              &.account {
                &:before {
                  content: 'Account';
                }
              }
            }
          }
          &.button {
            padding: 10px;
            .btn {
              border-radius: 5px;
              width: auto;
            }
          }
          &.dropdown {
            position: relative;
            @include size(auto, 100%);
            min-height: 50px;
            @include flex(row, flex-start, wrap);
            a#navbar-dropdown {
              @include size(50px, 100%);
              min-height: 50px;
              &:after {
                top: 24px;
                right: 15px;
              }
            }
            .dropdown-menu {
              position: relative;
              top: 0;
              width: 100%;
              margin: 0;
              padding: 0;
              background-color: var(--white_5);
              box-shadow: none;
              border-radius: 0;
              border: none;
              .dropdown-divider {
                margin: 0;
                border-color: var(--white_10);
              }
              .dropdown-item {
                height: 40px;
                min-height: 40px;
                color: var(--white_50) !important;
              }
            }
          }
          &.active {
            a {
              color: var(--white_100);
            }
            img {
              opacity: 1;
            }
          }
          &:hover {
            a {
              color: var(--white_100);
              font-weight: 700;
            }
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
