@import "partials/mixins";

/* --------------------------------------------------------------------
   Scrollbar
-------------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @include bg(primary);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-2);
}
