<tr>
  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
    <h1>
      <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">
        Hello <%= @user.username %>!
      </span>
    </h1>
    <p style="text-align:center !important;">
      <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">
        We're contacting you to notify you that your password has been changed.
      </span>
    </p>
  </td>
</tr>
<tr>
  <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; padding: 18px;">
    <a class="mcnButton " title="Read More" href="<%= confirmation_url(@resource, confirmation_token: @token) %>" target="_blank" style="background: #108989;margin-left: auto;margin-right: auto;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;border-radius: 5px;font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">
      Confirm my account
    </a>
  </td>
</tr>
