<tr>
  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
    <h1>
      <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">
        Hello <%= @user.username %>!
      </span>
    </h1>
    <p style="text-align:center !important;">
      <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">
        Someone has requested a link to change your password. You can do this through the link below.
      </span>
    </p>
  </td>
</tr>
<tr>
  <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; padding: 18px;">
    <a class="mcnButton " title="Read More" href="<%= edit_password_url(@resource, reset_password_token: @token) %>" target="_blank" style="background: #108989;margin-left: auto;margin-right: auto;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right: 10px;border-radius: 5px;font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">
      Change my password
    </a>
  </td>
</tr>
<tr>
  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
    <p style="text-align:center !important;">
      <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">
        If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
      </span>
    </p>
  </td>
</tr>
