<%= form_for solution, url: {controller: 'solutions', action: "create", quest_id: quest.id, anchor: 'new_solution'}, html: {class: ""} do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>
      <ul>
      <% solution.errors.full_messages.each do |solution| %>
        <li><%= solution %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="box m-b-30">
      <div class="box-title">
        <span>Your Solution</span>
      </div>
      <div class="form-group">
        <%= form.label :text, "description" %>
        <%= form.hidden_field :text %>
        <trix-editor input="solution_text" placeholder="Lorem ipsum dolor sit amet..."></trix-editor>
      </div>

      <div class="form-group" data_type="iota">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control", placeholder: "Your IOTA address. E.g. 'ADKLWNGMRLE9AD...'" %>
      </div>

      <div class="form-group">
        <%= form.label "post as" %>
        <% if current_user %>
        <%= select_tag "user", options_for_select([["as #{current_user.username}", 'true'], ['anonymous', 'false']]), class: "form-control" %>
        <% else %>
        <p>anonymous, or <%= link_to "create an account", new_user_registration_path %></p>
        <% end %>
      </div>

      <div class="actions" style="margin-bottom: 0;">
        <%= form.submit "Submit", class: "btn btn-primary form-control" %>
      </div>
    </div>
 <% end %>
